dist: xenial
language: python
python:
  - "3.7"

# NOTE: LANG=en_US.UTF-8 etc. is predefined in travis
env:
  matrix:
    - QT_QPA_PLATFORM=offscreen
  global:
    secure: "FnR3amw3i/68RLIhEFnAxR9/+xhVWey+24NwI5NSKMpNGs8hoT6Fg/erjfNXw/RyJReD7ikXBMp9rSImjmWxZ3fXK9j545CAYOVlgpj7b9oIfle5eYfukuPQWT/xTkEaGFxHEuygzH+J1rCm1ZFyJ03IFvN/Fw00bsJG8Vg5C8RFqLIrwwjjx8hhHDMKY7hV/+rG7Ufq8irRJFNXrfOZ1dw/H0XRivbhtpQ1K8jSoPb8EGg2WVm8XI3rT1zv6ydGTNVvRoDbvKzCHEDgAwpucY6dk56EdsnweJabjzlqDK2L184OzJHvd7iwAyxjCIgYEiMrCfiCYBNz+73ief7w6rO2rrGuLMUF04VzlxnEXK+W2ylJzpBmwLmfVLJkFOEkwehbxe7OneI6nGR/AA35X/VbuR2HGdYtcZ5aF10Lje341UEeogoPg0hGSBIc+9a48eDyJiPq1pIZeBv6y3IfW72nrDH04tpbGZeS0DFC0fkAC/TzNtqk2k+X9fsEuoHVx5WiL3YHlCCHfLdYhV52gHsbK6QR0ceouG6JxVPKDebc7Jt1BZggdv4nKiVewXbhyNhycZPkQE+WB2dgVE6gXLaMwwtAJus5f+gEv/vwEGRkLT+Kep8LutubZKDUsd8ZZbWaGol5qDGLm3Jv5+3g+RoCY34q6obKxh+jOvsy2EY="

# Using addons rather than apt-get install
addons:
  apt:
    packages:
      - libhdf5-serial-dev
      - netcdf-bin
      - libnetcdf-dev
      - libsm6
      - libxext6
      - libxrender-dev
      - libxt6
      - libgl1-mesa-glx
      - libfontconfig
      - libxkbcommon-x11-0

install:
  - pip install setuptools_scm pytest-cov
  - pip install .

script:
  - pytest --cov=./

after_success:
  - codecov
